<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-10">
        <h3 class="">Create a New Post:</h3>

        <form class="new-post-form">
            <div class="mb-3">
                <label for="postTitle" class="form-label">Title of Post</label>
                <input type="text" class="form-control" id="postTitle">
            </div>
            <div class="mb-3">
                <label for="postContent" class="form-label">Write Your Post</label>
                <input type="text" class="form-control" id="postContent" height="200">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</div>

<script src="/js/post.js"></script>